<!DOCTYPE html>
<html>
    <head>
        <title>
            Loan Repayment Calculator
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <link rel="stylesheet", href="/static/style.css" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-default text-center">
            <img id="logo" src="https://static.wixstatic.com/media/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.png/v1/fill/w_688,h_348,al_c,q_80,usm_0.66_1.00_0.01/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.webp">
        </nav>
        <br>
        <div class="container ">
            <div class="row well">
                <div class="col-sm-4 col-md-offset-1 well">
                    <form method="POST" id="loan_form" action="/emi">
                        <label class="form_font"> Principal Amount :</label><br>
                        <input type="number" class="form-control" name="loan_amount" min="1"  required><br>
                        <label class="form_font"> Time Period (in months) :</label><br>
                        <input type="number" class="form-control" name="period" min="1" required><br>
                        <label class="form_font"> Interest Rate :</label><br>
                        <input type="number" step="0.01" class="form-control" min="0" max="100" name="intrest_rate" required><br>
                        <input type="submit" class="btn btn-success form-control form_font" name="get_emi" value="Generate EMI">
                    </form>
                    <br>
        
                    

                </div>
                
                <div class="col-sm-5 col-md-offset-1 well" >
                        
                        <div class="slidecontainer">
                            <b class="text">Intrest Rate</b><br><br>
                            <form class="ranging" >
                            <input type="range" min="<%= min %>" max="<%= max %>" step="0.25" name="range_slider" class="slider" 
                            id="range_weight" value="<%= intrest_rate%>" oninput="range_weight_disp.value = range_weight.value" onchange="fun()">
                            <b><output  id="range_weight_disp"><%= intrest_rate%></output></b>
                            </form>
                            <script >
                                function fun(){
                                    var r = document.getElementById("range_weight_disp").innerHTML;
                                    var p = <%= principle_amount %>;
                                    var t = <%= period %>;
                                    var emi=0;
                                    if(r>0)
                                    emi = (p*(r/1200)*(1+(r/1200))**t)/(1-(1+(r/1200))**t);
                                    console.log(emi)
                                    if(emi<0)
                                    {
                                        emi = -emi;
                                    }
                                    var total = emi*t;
                                    document.getElementById('emi').innerHTML=Number(Math.round(emi+'e2')+'e-2') ;
                                    if(emi === 0)
                                    document.getElementById('t_intrest').innerHTML=0;
                                    else
                                    document.getElementById('t_intrest').innerHTML=Number(Math.round((total-p)+'e2')+'e-2');
                                    document.getElementById('t_amount').innerHTML= Number(Math.round(total+'e2')+'e-2');
                                    pie(Number(Math.round((total-p)+'e2')+'e-2'),<%= principle_amount %>)
                                }
                                function pie(a,b){
                                    if(window.bar!=undefined)
                                        window.bar.destroy();
                                    let myChart  = document.getElementById("myCanvas").getContext('2d');
                                    window.bar = new Chart(myChart, {
                                    type : 'pie',
                                    data : {
                                    labels:['Intrest', 'Priciple Amount'],
                                    datasets:[{
                                    data:[a,b],
                                    backgroundColor :['red','green'],}]
                                    },
                                })
                                }
                            </script><br>
                        
                    </div>
                    <div>
                        <h4 class="form_font" > EMI (monthly)&nbsp;: <b id="emi" ><%= emi %></b> </h4><br>
                        <h4 class="form_font" > Total Intrest&nbsp;&nbsp;&nbsp;&nbsp;:<b id="t_intrest"> <%= intrest %></b></h4><br>
                        <h4 class="form_font" > Total Amount &nbsp;: <b id="t_amount"><%= total_amount %> </b></h4><br>
                    </div>
            </div>
           

        </div>
        </div>

        <div class="container well">
            <div class="col-sm-4 col-md-offset-1 well">
                    <canvas id="myCanvas" width="300" height="300"></canvas>
                    <script>
                        
                        let myChart  = document.getElementById("myCanvas").getContext('2d');
                        window.bar = new Chart(myChart, {
                            type : 'pie',
                            data : {
                                labels:['Intrest', 'Principle Amount'],
                                datasets:[{
                                    data:[<%= intrest %>,<%= principle_amount %>],
                                    backgroundColor :['red','green']
                                }]
                            }
                        })
                        
                        
                    </script>
                
            </div>
            <div class="col-sm-5 col-md-offset-1">
                <h3><a href="emi/student_tips" style="color: black;font-family:sans-serif">Money Saving Tips in Foreign</a></h3><br>
                <h3><a href="#" style="color: black;font-family:sans-serif">Expenses in USA and Canada</a></h3><br>
                
            </div> 
        </div>
        
    </body>
</html>