<!DOCTYPE html>
<html>
    <head>
        <title>
            Loan Repayment Calculator
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <link rel="stylesheet", href="/static/style.css" type="text/css">
        
    </head>
    <body>
        <nav class="navbar navbar-default text-center">
            <a href="/"><img id="logo" src="https://static.wixstatic.com/media/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.png/v1/fill/w_688,h_348,al_c,q_80,usm_0.66_1.00_0.01/55c749_7243a1dcc9204ec38a5b27edc8f90fde~mv2_d_2400_1200_s_2.webp"></a>
        </nav>
        <div class=" calculator text-right" >
            <button class="btn btn-success" onclick="fun1()">Calculator</button><br><br>
            <div id='calc-contain'>
              <form name="calculator">
                
                <input type="text" name="answer" />
                <br>
                
                <input type="button" value=" 1 " onclick="calculator.answer.value += '1'" />
                <input type="button" value=" 2 " onclick="calculator.answer.value += '2'" />
                <input type="button" value=" 3 " onclick="calculator.answer.value += '3'" />
                <input type="button" value=" + " onclick="calculator.answer.value += '+'" />
                <br/>
                
                <input type="button" value=" 4 " onclick="calculator.answer.value += '4'" />
                <input type="button" value=" 5 " onclick="calculator.answer.value += '5'" />
                <input type="button" value=" 6 " onclick="calculator.answer.value += '6'" />
                <input type="button" value=" - " onclick="calculator.answer.value += '-'" />
                </br>
              
                <input type="button" value=" 7 " onclick="calculator.answer.value += '7'" />
                <input type="button" value=" 8 " onclick="calculator.answer.value += '8'" />
                <input type="button" value=" 9 " onclick="calculator.answer.value += '9'" />
                <input type="button" value=" x " onclick="calculator.answer.value += '*'" />
                </br>
            
                <input type="button" value=" c " onclick="calculator.answer.value = ''" />
                <input type="button" value=" 0 " onclick="calculator.answer.value += '0'" />
                <input type="button" value=" = " onclick="calculator.answer.value = eval(calculator.answer.value)" />
                <input type="button" value=" / " onclick="calculator.answer.value += '/'" />
                </br>
      
        
              </form>
              
            </div>
            <script>
                    function fun1(){
                        var ele = document.getElementById("calc-contain").style.display;
                        if(ele==="none")
                        document.getElementById("calc-contain").style.display="block";
                        else
                        document.getElementById("calc-contain").style.display="none";
                    }
            </script>
            
        </div>
        <br>
        <div class="container ">
            <div class="row well">
                <div class="col-sm-4 col-md-offset-1 well">
                    <form method="POST" id="loan_form" action="/emi">
                        <label class="form_font"> Principal Amount :</label><br>
                        <input type="number" class="form-control" name="loan_amount" min="1"  required><br>
                        <label class="form_font"> Time Period (in months) :</label><br>
                        <input type="number" class="form-control" name="period" min="1" required><br>
                        <label class="form_font"> Interest Rate :</label><br>
                        <input type="number" step="0.01" class="form-control" min="0" max="100" name="intrest_rate" required><br>
                        <input type="submit" class="btn btn-success form-control form_font" name="get_emi" value="Generate EMI">
                    </form>
                    <br>
        
                    

                </div>
                
                <div class="col-sm-5 col-md-offset-1 well" >
                        
                        <div class="slidecontainer">
                            <b class="text">Intrest Rate</b><br><br>
                            <form class="ranging" >
                            <input type="range" min="<%= min %>" max="<%= max %>" step="0.1" name="range_slider" class="slider" 
                            id="range_weight" value="<%= intrest_rate%>" oninput="range_weight_disp.value = range_weight.value" onchange="fun()">
                            <b><output  id="range_weight_disp"><%= intrest_rate%></output></b>
                            </form>
                            <script >
                                function fun(){
                                    var r = document.getElementById("range_weight_disp").innerHTML;
                                    var p = <%= principle_amount %>;
                                    var t = <%= period %>;
                                    var emi=0;
                                    if(r>0)
                                    emi = (p*(r/1200)*(1+(r/1200))**t)/(1-(1+(r/1200))**t);
                                    
                                    if(emi<0)
                                    {
                                        emi = -emi;
                                    }
                                    var total = emi*t;
                                    document.getElementById('emi').innerHTML=Number(Math.round(emi+'e2')+'e-2') ;
                                    if(emi === 0)
                                    document.getElementById('t_intrest').innerHTML=0;
                                    else
                                    document.getElementById('t_intrest').innerHTML=Number(Math.round((total-p)+'e2')+'e-2');
                                    document.getElementById('t_amount').innerHTML= Number(Math.round(total+'e2')+'e-2');
                                    pie(Number(Math.round((total-p)+'e2')+'e-2'),<%= principle_amount %>)
                                }
                                function pie(a,b){
                                    if(window.bar!=undefined)
                                        window.bar.destroy();
                                    let myChart  = document.getElementById("myCanvas").getContext('2d');
                                    window.bar = new Chart(myChart, {
                                    type : 'pie',
                                    data : {
                                    labels:['Intrest', 'Priciple Amount'],
                                    datasets:[{
                                    data:[a,b],
                                    backgroundColor :['red','green'],}]
                                    },
                                })
                                }
                            </script><br>
                        
                    </div>
                    <div>
                        <h4 class="form_font" > EMI (monthly)&nbsp;: <b id="emi" ><%= emi %></b> </h4><br>
                        <h4 class="form_font" > Total Intrest&nbsp;&nbsp;&nbsp;&nbsp;:<b id="t_intrest"> <%= intrest %></b></h4><br>
                        <h4 class="form_font" > Total Amount &nbsp;: <b id="t_amount"><%= total_amount %> </b></h4><br>
                    </div>
            </div>
           

        </div>
        </div>

        <div class="container well">
            <div class="col-sm-4 col-md-offset-1 well">
                    <canvas id="myCanvas" width="300" height="300"></canvas>
                    <script>
                        
                        let myChart  = document.getElementById("myCanvas").getContext('2d');
                        window.bar = new Chart(myChart, {
                            type : 'pie',
                            data : {
                                labels:['Intrest', 'Principle Amount'],
                                datasets:[{
                                    data:[<%= intrest %>,<%= principle_amount %>],
                                    backgroundColor :['red','green']
                                }]
                            }
                        })
                        
                        
                    </script>
                
            </div>
            <div class="col-sm-6 col-md-offset-1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">S/No</th>
                            <th scope="col">Period(in months)</th>
                            <th scope="col">EMI</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Intrest Amount</th>
                      </tr>
                        </thead>
                        <tbody>
                            <% var cnt=1 %>
                            <% var p = principle_amount %>
                            <% var r = intrest_rate %>
                            <% var t = period - 24 %>
                            <% if(t<=0) { %>
                            <% t=6 %>
                            <% }  %>
                            <% var emis = 0 %>
                            <% for(i=0;i<9;i++) { %>
                                <tr class="text-center">
                                    <% if(r>0) %>
                                    <% emis = (p*(r/1200)*(1+(r/1200))**t)/(1-(1+(r/1200))**t) %>
                                    <% if(emis<0) %>
                                    <% emis = -emis%>
                                    <th scope="row"><%= cnt %></th>
                                    <td><%= t %></td>
                                    <td><%= Number(Math.round((emis)+'e2')+'e-2') %></td>
                                    <td><%=  Number(Math.round((emis*t)+'e2')+'e-2')%></td>
                                    <td><%=  Number(Math.round(((emis*t)-p)+'e2')+'e-2')%></td>
                                </tr>
                                <% cnt = Number(cnt)+1%>
                                <% t=Number(t)+6%>
                            <% } %>
                        </tbody>
                    </table>
            </div> 
        </div>
        <div class="container well">
            <div class="col-md-10 emi_sheet ">
                <table class="table text-center">
                    <thead>
                        <tr class="text-right">
                            <th scope="col"> Month </th>
                            <th scope="col"> Principle Loan Amount </th>
                            <th scope="col"> Intrest </th>
                            <th scope="col"> Principle Comp </th>
                            <th scope="col"> Remaining Loan </th>
                        </tr>
                    </thead>
                    <tbody>
                    <% var p = principle_amount %>
                    <% var remain_loan = principle_amount %>
                    <% var r = intrest_rate %>
                    <% var t = period %>
                    <% var emis = 0 %>
                    <% emis = (p*(r/1200)*(1+(r/1200))**t)/(1-(1+(r/1200))**t) %>
                    <% if(emis<0)%>
                    <% emis = -emis%>
                    <% var intrest = p * (r/100) %>
                    <% for(i=1;i<=t;i++) { %>
                        <tr>
                            <th scope="row"><%= i %></th>
                            <td><%=Number(Math.round(p+'e2')+'e-2')%></td>
                            <td><%= Number(Math.round((intrest/12)+'e2')+'e-2') %></td>
                            <td><%=  Number(Math.round((emis-(intrest/12))+'e2')+'e-2')%></td>
                            <% remain_loan = p-(emis-(intrest/12)) %>
                            
                            <td><%=  Number(Math.round(remain_loan+'e2')+'e-2')%></td>
                        </tr>
                        <% p = remain_loan %>
                        <% intrest = p * (r/100) %>
                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>
        
    </body>
</html>